<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Index.css')}}">
    <title>Document</title>
</head>
<body>
    <table>

        <tr>
            <th>Codigo</th>
            <th>Titulo</th>
            <th>Artista</th>
            <th>Genero</th>
            <th>Precio</th>
            <th>Duración </th>
            <th>Fecha</th>
            <th>Imagen</th>

        </tr>
        <tbody>
            {% for cancion in canciones %}
            <tr>
                <td>{{cancion.id_can}}</td>
                <td>{{cancion.titulo}}</td>
                <td>{{cancion.artista}}</td>
                <td>{{cancion.genero}}</td>
                <td>{{cancion.precio}}</td>
                <td>{{cancion.duracion}}</td>
                <td>{{cancion.lanzamiento}}</td>
                <td><img src="data:image/jpeg;base64,{{cancion.imagen}}" alt="NO SALE IMAGEN" width="100"></td>

                <!--<td><img  alt="Portada de {{cancion[1]}}" style="width: auto;">{{cancion[7]}}</td>-->
                <td>
                    <a href="{{ url_for('delete_song', id=cancion.id_can) }}">Eliminar</a>
                    <a href="{{ url_for ('update_song', id=cancion.id_can) }}">Editar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>

    </table>
    
</body>
</html>